/*
==================================================
                     Footer
==================================================
*/


footer {

    width: 100%;
    min-width: 1024px;
    max-width: 1440px;
    height: auto;
}

.footer-formulario {

    width: 100%;
    height: 500px;
    background-image: url(/assets/fondo-footer1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.footer-formulario .footer-formulario__container {

    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-formulario__container .formulario__text-container {

    width: auto;
    height: 190px;
    z-index: 1;
    padding: 0 190px;
    margin-top: 100px;
}

.formulario__text-container h3 {

    color: #ffffff;
    font-family: nexa-bold;
    font-size: 4.5rem;
    margin-top: 40px;
    text-align: center;
    position: relative;
}

.formulario__text-container .text-container__element {

    width: 310px;
    height: 30px;
    position: absolute;
    top: 30px;
    right: -60px;
    background-color: #0f7b7b;
    z-index: -1;
    border-radius: 20px;
}

.formulario__text-container p {

    color: #ffffff;
    font-family: nexa-light;
    font-size: 2rem;
    margin-top: 40px;
    text-align: center;
} 

.footer-formulario__container .formulario__inputs-container {

    width: 900px;
    min-width: 900px;
    height: 50px;
    background-color: #c8cad1;
    border-radius: 50px;
    border: 2px solid #c8cad1; 

}

.footer-formulario__container .formulario__inputs-container input {

    all: unset;
    width: 610px;
    height: 40px;
    caret-color: #5c647b;
    font-family: nexa-light;
    color: #5c647b;
    font-size: 2rem;
    font-weight: 700;
    margin: 5px 0 0 50px;
}

.formulario__inputs-container .btn {
    width: 234px;
    height: 46px;
    font-family: nexa-light;
    top: -7px;
    background-color: #283890;
    background-image: linear-gradient(90deg, #283890 0%, #1eb0b6 53%, #283890 100%);
    color: #fff;
    border-radius: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.formulario__inputs-container .btn span {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: top 0.5s;
}

.formulario__inputs-container .btn-text-one {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.formulario__inputs-container .btn-text-two {
    position: absolute;
    width: 100%;
    top: 150%;
    left: 0;
    transform: translateY(-50%);
}

.formulario__inputs-container .btn:hover .btn-text-one {
    top: -100%;

}

.formulario__inputs-container .btn:hover .btn-text-two {
    top: 50%;
}

footer .footer-info {

    width: 100%;
    height: 700px;
    background-color: #fafafc;
    background-image: url(/assets/background-principal-section.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-info__logo-container {

    height: 140px;
}


.footer-info__logo-container .navbar-logo{

    display: inline-block;
    width: 220px;
    height: 182px;
    margin: 0 0 0 40px;
    background-image: url("/assets/logo-skylling.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.footer-info__text-container {

    width: 100%;
    min-width: 1024px;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
}

.footer-info__text-container .text-container__text1 {

    width: 300px;
    height: 250px;
}

.text-container__text1 h3 {

    font-family: nexa-bold;
    font-size: 2.5rem;
    color: #234e9d;
}

.text-container__text1 p {

    color: #091439;
    font-family: nexa-light;
    font-size: 1.6rem;
    font-weight: 700;
    margin-top: 10px;
    line-height: 25px;
} 

.footer-info__text-container .text-container__text2 {

    width: 250px;
    height: 200px;
    display: flex;
    flex-direction: column;
}

.footer-info__text-container .text-container__text2 h3 {

    font-family: nexa-bold;
    font-size: 2.5rem;
    color: #234e9d;
}

.footer-info__text-container .text-container__text2 a {

    color: #091439;
    font-family: nexa-light;
    font-size: 2rem;
    font-weight: 700;
    line-height: 25px;
    margin-top: 10px;
    text-decoration: none;
    
} 


.footer-info__text-container .text-container__text3 {

    width: 250px;
    height: 200px;
}

.footer-info__text-container .text-container__text3 h3 {

    font-family: nexa-bold;
    font-size: 2.5rem;
    color: #234e9d;
}

.footer-info__text-container .text-container__text3 p {

    color: #091439;
    font-family: nexa-light;
    font-size: 1.6rem;
    font-weight: 700;
    margin-top: 10px;
    line-height: 25px;
}


.footer-info__button-container {

    width: 100%;
    min-width: 1024px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px 0 60px;
}

.footer-info .principal-section-button {
    width: 25rem;
    font-size: 2.3rem;
    padding: 5px 0 0 0 ;

}

.footer-info .principal-section-button-container {

    width: 300px;
}

.footer-info__links-container {

    width: 250px;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-info__links-container span {
    width: 45px;
    height: 45px;
    border-radius: 5px;
    display: inline;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 19px 20px 30px -5px rgba(0,0,0,0.60);
}



.footer-info__links-container span a {

    display: block;
    width: 100%;
    height: 100%;
}


.footer-info__links-container .facebook {

    background-image: url(/assets/facebook.png);
    border-radius: 8px;
}

.footer-info__links-container .twitter {

    background-image: url(/assets/twitter.png);
}

.footer-info__links-container .be {

    background-image: url(/assets/be.png);
} 

.footer-info__links-container .linkedin {

    background-image: url(/assets/linkedin.png);
} 

.footer-info__texto-final {

    width: 100%;
    height: auto;
    margin-top: 80px;
}

.texto-final__negrita {

    font-family: nexa-bold;
    color: #2158a8;
    font-size: 3rem;
    font-weight: bold;
}

.texto-final__h3 {

    text-align: center;
    font-family: nexa-light;
    color: #091539;
    font-size: 3rem;

}



/*
==================================================
                     Footer-end
==================================================
*/
