html{
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: nexa-light;
    src: url("../fonts/Light/nexa-light.otf");
}


@font-face {
    font-family: nexa-bold;
    src: url("../fonts/Bold/nexa-bold.otf");
}

.section-detail { 

    width: 100%;
    height: auto;
    position: relative;
    /* z-index: -3; */
    background-color: #091439;
    min-width: 320px; /*verificar*/
    max-width: 768px;
    background-image: url(/static/assets/background-principal-section.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*padding: 0 0 70px 0;*/
    
}

.section-detail .section-detail__mundo {

    width: 90px;
    height: 80px;
    position: absolute;
    right: calc(70% - 20px);
    top: -20px;
}

.section-detail__mundo img {

    width: 100%;
    height: 100%;
}

.section-detail .section-detail__titulo {

    width: 100%;
    height: auto;
    position: absolute;
    top: 40px;
}

.section-detail .section-detail__titulo h3 {

    text-align: center;
    font-family: nexa-light;
    font-family: 100;
    font-size: 2rem;
    color: #ffffff;
}

.section-detail .section-detail__titulo .titulo__negrita {

    font-family: nexa-bold;
    font-weight: bold;
}

.section-detail .section-cards {

    width: 100%;
    height: auto;
    padding-top: 170px;
}

.section-detail .section-cards .cards-container {

    width: auto;
    height: 100%;
    display: grid;
    margin: 0 10px;
    row-gap: 20px;
    column-gap: 20px;
    grid-template-columns: repeat(3, minmax(85.33px, 1fr));
    grid-template-rows: auto 1fr;
    justify-items: center;
    align-items: center;
    
}


.section-detail .section-cards .cards-container .container {
    
    width: 80px;
    height: 95px;
    background-image: url(/static/assets/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
}


.section-detail .section-cards .cards-container p {
    
    font-family: nexa-light;
    color: #e6e7eb;
    text-align: center;
    font-weight: 500;
    font-size: 1rem;
}

@media screen and (min-width: 500px) {

    .section-detail .section-cards .cards-container {
        
        column-gap: 70px;
        margin: 0 40px;
    }

    .section-detail .section-cards .cards-container p {

        font-size: 1.2rem;
    }
}

.section-detail .section-cards .cards-container .container .box-hover {

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.section-detail .section-cards .cards-container .container .box-hover .contain-finanzas {

    width: 60px;
    height: 80px;
}

.section-detail .section-cards .cards-container .container .box-hover .hover:hover {

    background: rgba(58, 58, 58, 0.288);
    z-index: 2;
    cursor: pointer;
    border-radius: 40px;
}

.section-detail .section-cards .cards-container .container .box-hover .contain-facturacion {

    width: 80px; 
    height: 80px;
    
}

.section-detail .section-cards .cards-container .container .box-hover .contain-crm {

    width: 70px;
    height: 80px;
}

.section-detail .section-cards .cards-container .container .box-hover .contain-finanzas img {

    width: 100%;
    height: 100%;
}

.section-detail .section-cards .cards-container .container .box-hover .contain-facturacion img {

    width: 100%;
    height: 100%;
}

.section-detail .section-cards .cards-container .container .box-hover .contain-crm img {

    width: 100%;
    height: 100%;
}

.section-detail .section-pasos {

    width: 100%;
    /*height: 690px;*/
}

.section-detail .section-pasos .division-img {
    
    display: none;
    width: 100%;
    height: 100%;
}


.section-detail .section-pasos .division-img figure img {
    
    display: none;
    width: 100%;
    height: 100%;
    margin-left: 50px;
}

.section-detail .section-pasos .division-info {

    width: auto;
    height: auto;
}

.section-detail .section-pasos .division-info .container-info {

    width: 100%;
    height: auto;
}

.section-detail .section-pasos .division-info .container-info .text-info {

    position: relative;
    text-align: center;
    padding-top: 30px;
}

.section-detail .section-pasos .division-info .container-info .text-info .text-info__element {

    width: 100px;
    height: 10px;
    position: absolute;
    top: calc(70% - 17px);
    left: calc(50% + 10%);
    background-color: #0f7b7b;
    z-index: -1;
    border-radius: 20px;
}


.section-detail .section-pasos .division-info .container-info .text-info h3 {
    
    font-family: nexa-light;
    font-size: 2rem;
    position: relative;
    color: #ffffff;
    z-index: 3;
    font-weight: 200;
    
}


.negrita {
    
    font-weight: bold;
    font-family: nexa-bold;
}


.section-pasos .division-info .container-info .text-info p {
    
    color: #ffffff;
    font-size: 1.3rem;
    font-family: nexa-light;
    margin-top: 10px;
}

@media screen and (max-width: 400px) {

    .section-detail .section-pasos .division-info .container-info .text-info h3 {

        font-size: 1.5rem;
    }

    .section-pasos .division-info .container-info .text-info p {

        font-size: 1rem;
    }
}

.section-pasos .division-info .container-info .cards-info {

    margin-top: 50px;
    position: relative;
    justify-content: space-evenly;
    left: -60px;
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    grid-template-rows: 1fr 1fr;
}


.section-detail .cloud-bg{
    position: absolute;
    width: 100%;
    height: 100px;
    background-image: url("http://localhost/skylling/static/assets/cloud.png");
    background-position: center 1%;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    bottom: -10px;
}


.section-pasos .division-info .container-info .cards-info .fondo {
    display: flex;
    width: 100%;
    height: 200px;
    position: relative;
    background-image: url(/static/assets/background-steps.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}



/* .section-pasos .division-info .container-info .cards-info .fondo .cards-info-paso1 {

   
    
}

.section-pasos .division-info .container-info .cards-info .fondo .cards-info-paso2 {

    
}

.section-pasos .division-info .container-info .cards-info .fondo .cards-info-paso3 {

    
    
}

.section-pasos .division-info .container-info .cards-info .fondo .cards-info-paso4 {

  
    
}

.section-pasos .cards-info__title{

} */

.section-pasos .cards-info__caption{
    color: rgb(175, 40, 89) ;
    font-size: 2rem;

}




.section-pasos .division-info .container-info .cards-info .fondo .cards-info__img {

    width: 100%;
    height: 100%;
    
}

.section-pasos .division-info .container-info .cards-info .fondo .cards-info__span {

    
    width: 90px;
    height: 90px;
    display: block;
    left: 30px;
    top: -20px;
    z-index: 1;
    position: absolute;

}

.section-pasos .division-info .container-info .cards-info .fondo .cards-info__span img {

    
    width: 100%;
    height: 100%;

}