/*
==================================================
                      config
==================================================
*/
html{
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: nexa-light;
    src: url("../fonts/Light/nexa-light.otf");
}


@font-face {
    font-family: nexa-bold;
    src: url("../fonts/Bold/nexa-bold.otf");
}

/*
==================================================
                      nav
==================================================
*/
.nav-bar{
    display: flex;
    min-width: 1024px;
    width: 100%;
    height: 98px;
    padding: 0 20px;
    
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    
}

.navbar-list{
    display: flex;
    width: 100%;
    list-style: none;
    gap: 48px;
    justify-content: center;
    align-items: center;
   
      
}

.navbar-list li{
    cursor: pointer;
}

.navbar-list li:first-child{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #2158a8;

}


.nav-bar-logo-container{
    width: 18%;
    height: auto;
    
}

.navbar-logo{
    display: inline-block;
    width: 136px;
    height: 98px;
    background-image: url("/assets/logo-skylling.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}


.navbar-button-login-container{
    display: flex;
    width: 20%;
    align-items: center;
}





.navbar-button-login {
    position: relative;
    overflow: hidden;
    height: 3.9rem;
    padding: 0 1.3rem;
    border-radius: 1.8rem;
    font-size: 1.8rem;
    font-family: Poppins, sans-serif;
    background: #091539;
    background-size: 400%;
    color: #fff;
    border: none;
  }
  
  .navbar-button-login:hover::before {
    transform: scaleX(1);
  }
  
  .button-content {
    position: relative;
    z-index: 1;
  }
  
  .navbar-button-login::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(
      82.3deg,
      rgb(93, 119, 233) 10.8%,
      rgba(99, 88, 238, 1) 94.3%
    );
    transition: all 0.475s;
  }
 

/*
==================================================
                      nav-end
==================================================
*/



/*
==================================================
                Principal-section
==================================================
*/


.principal-section{
    min-width: 1024px;
    width: 100%;
    height: 100vh;
    font-family: nexa-light;
    font-size: 1.6rem;
}

.principal-section-container{
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 260px 460px;
}

.principal-section .title-container{
    display: flex;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 4;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    
    
}

.principal-section .title-container > p{
    text-align: center;
    
}

.principal-section .title-container .title-container__span{
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    color: #091439;
}



.principal-section .img-container{
   
    width: 90%;
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
    margin-left: -86px;
   
    
}

.principal-section .img-container > img{
    width: 100%;
    height: 100%;
}


.content-container{
    width: 100%;
    grid-column-start: 3;
    grid-column-end: 4;
    
}

.principal-section .content-container .text-container{
    
    width: 100%;
    height: 300px;
    font-size: 2.8rem;
}

/*
.principal-section .content-container .text-container > p{

}*/


.principal-section-button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: nexa-light;
   }
   
   button.principal-section-button {
    width: 19.2rem;
    height: auto;
   }
   
   button.principal-section-button .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 4.8rem;
    height: 4.8rem;
    background: #091539;
    border-radius: 2.6rem;
   }
   
   button.principal-section-button .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
   }
   
   button.principal-section-button .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 1rem;
    width: 1.8rem;
    height: 0.2rem;
    background: none;
   }
   
   button.principal-section-button .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.464rem;
    right: 0.1rem;
    width: 1rem;
    height: 1rem;
    border-top: 0.2rem solid #fff;
    border-right: 0.2rem solid #fff;
    transform: rotate(45deg);
   }
   
   button.principal-section-button .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1.2rem 0;
    margin: 0 0 0 2.96rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    /*text-transform: uppercase;*/
   }
   
   .principal-section-button:hover .circle {
    width: 100%;
   }

   
   .principal-section-button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
   }
   
   .principal-section-button:hover .button-text {
    color: #fff;
   }


.background-container{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("/assets/background-principal-section.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}




/*
==================================================
                Principal-section_end
==================================================
*/


main .section-container .section-cards .cards-container {

    width: 70%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

main .section-container .section-cards .cards-container .card {

    width: 20px;
    height: 30px;
}




/*
==================================================
                      section 1-end
==================================================
*/