/*
==================================================
                      config
==================================================
*/
html{
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: nexa-light;
    src: url("../fonts/Light/nexa-light.otf");
}


@font-face {
    font-family: nexa-bold;
    src: url("../fonts/Bold/nexa-bold.otf");
}

/*
==================================================
                      Main
==================================================
*/

main{
   
    width: 100%;
    min-width: 1024px;
    max-width: 1440px;
    margin: 0 auto;
    /*background-image: url("http://localhost/skylling/static/assets/background-principal-section.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/


}






/*
==================================================
                      nav
==================================================
*/
.nav-bar{
    display: flex;
    position: absolute;
    max-width: 1440px;
    min-width: 1024px;
    width: 100%;
    height: 98px;
    padding: 0 20px;
    margin: 0 auto;
    transform: translate(-50%);
    left: 50%;
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;

    
}

.navbar-list{
    display: flex;
    width: 100%;
    list-style: none;
    gap: 48px;
    justify-content: center;
    align-items: center;
   
      
}

.navbar-list li{
    cursor: pointer;
}

.navbar-list li:first-child{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #2158a8;

}


.nav-bar-logo-container{
    width: 18%;
    height: auto;
    
}

.navbar-logo{
    display: inline-block;
    width: 136px;
    height: 98px;
    background-image: url("http://localhost/skylling/static/assets/logo-skylling.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}


.navbar-button-login-container{
    display: flex;
    width: 20%;
    align-items: center;
}





.navbar-button-login {
    position: relative;
    overflow: hidden;
    height: 3.9rem;
    padding: 0 1.3rem;
    border-radius: 1.8rem;
    font-size: 1.8rem;
    font-family: Poppins, sans-serif;
    background: #091539;
    background-size: 400%;
    color: #fff;
    border: none;
  }
  
  .navbar-button-login:hover::before {
    transform: scaleX(1);
  }
  
  .button-content {
    position: relative;
    z-index: 1;
  }
  
  .navbar-button-login::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(
      82.3deg,
      rgb(93, 119, 233) 10.8%,
      rgba(99, 88, 238, 1) 94.3%
    );
    transition: all 0.475s;
  }
 

/*
==================================================
                      nav-end
==================================================
*/



/*
==================================================
                Principal-section
==================================================
*/


.principal-section{
    
    width: 100%;
    min-width: 1024px;
    max-width: 1440px;
    height: auto;
    padding: 100px 0 0;
    font-family: nexa-light;
    font-size: 1.6rem;
    background-image: url("http://localhost/skylling/static/assets/background-principal-section.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.principal-section-container{
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 260px 460px;
}

.principal-section .title-container{
    display: flex;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 4;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    
    
}

.principal-section .title-container > p{
    text-align: center;
    
}

.principal-section .title-container .title-container__span{
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    color: #091439;
}


.principal-section  .figure{
    position: relative;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
}

.principal-section .img-container{
    position: absolute;
    width: 114%;
    height: 114%;
    top: -36px;
   
    margin-left: -120px;
   
    
}

.principal-section .img-container > img{
    width: 100%;
    height: 100%;
}


.content-container{
    display: flex;
    position: relative;
    width: 115%;
    /*padding: 0 0 70px;*/
    top: -8px;
    left: -60px;
    grid-column-start: 3;
    grid-column-end: 4;
    flex-direction: column;
    /*justify-content: space-around;*/
    align-items: center;
    /*background-color: #2158a8;*/
    
}

.principal-section .content-container .text-container{
    width: auto;
    height: auto;
    margin-bottom: 12px;
    font-size: 2.8rem;
}

/*
.principal-section .content-container .text-container > p{

}*/


.principal-section-button-container{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: left; 
}

.principal-section-button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    /*font-size: inherit;*/
    font-size: 1.8rem;
    font-family: Poppins, sans-serif;
    font-weight: 300;
   }
   
   button.principal-section-button {
    width: 19.2rem;
    height: auto;
   }
   
   button.principal-section-button .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    /*
    width: 4.8rem;
    height: 4.8rem;*/
    width: 4.8rem;
    height: 4.8rem;
    background: #091539;
    border-radius: 2.6rem;
   }
   
   button.principal-section-button .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
   }
   
   button.principal-section-button .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 1rem;
    width: 1.8rem;
    height: 0.2rem;
    background: none;
   }
   
   button.principal-section-button .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.464rem;
    right: 0.1rem;
    width: 1rem;
    height: 1rem;
    border-top: 0.2rem solid #fff;
    border-right: 0.2rem solid #fff;
    transform: rotate(45deg);
   }
   
   button.principal-section-button .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1.01rem 0;
    /*margin: 0 0 0 2.96rem;*/
    margin: 0 0 0 5.4rem;
    color: #282936;
    /*font-weight: 700;*/
    line-height: 1.6;
    text-align: center;
    /*text-transform: uppercase;*/
   }
   
   .principal-section-button:hover .circle {
    width: 112%;
   }

   
   .principal-section-button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
   }
   
   .principal-section-button:hover .button-text {
    color: #fff;
   }


/*.background-container{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("http://localhost/skylling/assets/background-principal-section.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}*/




/*
==================================================
                Principal-section_end
==================================================
*/





/*
==================================================
                section_1
==================================================
*/

.section-detail { 

    width: 100%;
    height: auto;
    position: relative;
    z-index: -3;
    background-color: #091439;
    min-width: 1024px; /*verificar*/
    max-width: 1440px;
    background-image: url(http://localhost/skylling/static/assets/fondo\ \(2\).png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 0 70px 0;
    
}

.section-detail .section-cards {

    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding-top: 90px;
}

.section-detail .section-cards .cards-container {

    width: 70%;
    /* min-width: 1024px; */
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;
    justify-items: center;
    
}

.section-detail .section-cards .cards-container .container {

    width: 240px;
    height: 280px;
    padding-right: 5px;
    background-image: url(http://localhost/skylling/static/assets/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
}


.section-detail .section-cards .cards-container p {

    font-family: nexa-light;
    color: #e6e7eb;
    /*margin: 0 50px 0 50px;*/
    margin: 0 20px;
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
}


.section-detail .section-cards .cards-container .container .box-hover {

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.section-detail .section-cards .cards-container .container .box-hover .contain-finanzas {

    width: 170px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-detail .section-cards .cards-container .container .box-hover .hover:hover {

    background: rgba(58, 58, 58, 0.288);
    z-index: 2;
    cursor: pointer;
    border-radius: 40px;
}

.section-detail .section-cards .cards-container .container .box-hover .contain-facturacion {

    width: 170px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.section-detail .section-cards .cards-container .container .box-hover .contain-crm {

    width: 170px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-detail .section-cards .cards-container .container .box-hover .contain-finanzas img {

    width: 120px;
    height: 160px;
}

.section-detail .section-cards .cards-container .container .box-hover .contain-facturacion img {

    width: 160px;
    height: 160px;
}

.section-detail .section-cards .cards-container .container .box-hover .contain-crm img {

    width: 160px;
    height: 160px;
    margin-right: 7px;
}

.section-detail .section-pasos {

    width: 100%;
    height: 690px;
    display: grid;
    grid-template-columns: minmax(361px, 1fr) 2fr;
}

.section-detail .section-pasos .division-img {
    
    width: 100%;
    height: 100%;
}


.section-detail .section-pasos .division-img figure img {
    width: 100%;
    height: 100%;
    margin-left: 50px;
}

.section-detail .section-pasos .division-info {

    width: auto;
    height: auto;
    margin-top: 100px;
    padding-left: 100px;
}

.section-detail .section-pasos .division-info .container-info {

    width: auto;
    height: auto;
}

.section-detail .section-pasos .division-info .container-info .text-info {

    position: relative;
}

.section-detail .section-pasos .division-info .container-info .text-info .text-info__element {

    width: 310px;
    height: 30px;
    position: absolute;
    top: 20px;
    right: 10%;
    background-color: #0f7b7b;
    z-index: 1;
    border-radius: 20px;
}

.section-detail .section-pasos .division-info .container-info .text-info h3 {

    font-family: nexa-light;
    font-size: 3.9rem;
    position: relative;
    color: #ffffff;
    z-index: 3;
    font-weight: 200;

}


.negrita {

    font-weight: bold;
}


.section-pasos .division-info .container-info .text-info p {

    color: #ffffff;
    font-size: 2rem;
    font-family: nexa-light;
    margin-top: 10px;
}


.section-pasos .division-info .container-info .cards-info {

    margin-top: 50px;
    position: relative;
    justify-content: space-evenly;
    left: -60px;
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    grid-template-rows: 1fr 1fr;
}

.section-pasos .division-info .container-info .cards-info .fondo {
    display: flex;
    width: 100%;
    height: 200px;
    position: relative;
    background-image: url(http://localhost/skylling/static/assets/background-steps.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}



.section-pasos .division-info .container-info .cards-info .fondo .cards-info-paso1 {

   
    
}

.section-pasos .division-info .container-info .cards-info .fondo .cards-info-paso2 {

    
}

.section-pasos .division-info .container-info .cards-info .fondo .cards-info-paso3 {

    
    
}

.section-pasos .division-info .container-info .cards-info .fondo .cards-info-paso4 {

  
    
}

.section-pasos .cards-info__title{

}

.section-pasos .cards-info__caption{
    color: rgb(175, 40, 89) ;
    font-size: 2rem;

}




.section-pasos .division-info .container-info .cards-info .fondo .cards-info__img {

    width: 100%;
    height: 100%;
    
}

.section-pasos .division-info .container-info .cards-info .fondo .cards-info__span {

    
    width: 90px;
    height: 90px;
    display: block;
    left: 30px;
    top: -20px;
    z-index: 1;
    position: absolute;

}

.section-pasos .division-info .container-info .cards-info .fondo .cards-info__span img {

    
    width: 100%;
    height: 100%;

}
/*
==================================================
                      section 1-end
==================================================
*/


/*
==================================================
                question-section
==================================================
*/


.questions-section{
  
    display: flex;
    width: 100%;
    height: auto;
    min-width: 1024px;
    max-width: 1440px;
    justify-content: center;
    align-items: center;
    /*background-image: url("/assets/shadow.png");
    background-position:  bottom;
    background-repeat: no-repeat;
    background-size: cover;*/
}

.questions-section-container{
    display: flex;
    width: 100%;
    height: auto;
    padding: 100px 0 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.questions-section .background-cloud{
    /*position: absolute;
    width: 100%;
    height: 100px;
    min-width: 1024px;
    top: 0;
    background-image: url("http://localhost/skylling/static/assets/background-cloud.png");
    background-position:  bottom;
    background-repeat: no-repeat;
    background-size: cover;*/
    
}   


.questions-section .title-container{
    position: relative;
    display: flex;
    width: 340px;
    height: auto;
    margin: 0 0 50px;
    justify-content: center;
    

}


.questions-section .title-container .text-container{
    width: 100%;
    text-align: center;
    font-size: 3rem;
    color: #091439;
    font-family: nexa-light;
    
}



.questions-section .title-container span{
    font-family: Poppins, sans-serif;
    font-weight: bolder;
    
}



.questions-section .title-container h3{
   font-size: 2rem;
}


.questions-section .img-container{
    position: absolute;
    width: 110px;
    height: 100px;
    top: 30px;
    right: -64px;
    
}

.questions-section .img-container span{
    display: inline-block;
    width: 100%;
    height: 100%;
    background-image: url("http://localhost/skylling/static/assets/signo-pregunta.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.questions-section .content-container{

    display: flex;
    width: 100%;
    height: auto;
    /*padding: 20px 0 0;*/
    position: static;
    overflow-y: hidden;
   /* width: 600px;
    height: 360px*/
    justify-content: center;
     
}

.questions-section .content-container .question{
    
    width:  760px;
    height: 60px;
    margin: 10px 0;
    padding: 10px;
    overflow-y: hidden;
    text-align: center;
    border-radius: 40px;
    color: #091439;
    background-color:  #f4f5f8;;
    box-shadow: 7px 1px 14px 3px rgba(0,0,0,0.2);
    -webkit-box-shadow: 7px 1px 14px 3px rgba(0,0,0,0.2);
    -moz-box-shadow: 7px 1px 14px 3px rgba(0,0,0,0.2);
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    
    
    /*height: auto;*/

}



.questions-section .content-container .question-title{
    display: flex;
    width: 100%;
    margin: 8px 0 20px;
    /*padding: 0 60px;*/
    /*margin-bottom: 16px;*/
    justify-content: center;
    font-family: nexa-light;
    font-size: 2rem;
   
}

.questions-section .content-container .question-title p{
    width: 100%;
}


.questions-section .question .question-title__icon-arrow{
    display: inline-block;
    width: 30px;
    height: 30px;
    margin:  0 20px 0 0;
    background-image: url("http://localhost/skylling/static/assets/arrow-min.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotate(-180deg);
    animation-duration: 0.3s;
    /*animation-delay: 1s;*/
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    cursor: pointer;
    
}





.questions-section .content-container .question-title span{
    font-family: nexa-bold;
    font-size: 2rem;
   
}

.questions-section .content-container .question-text{
    /*text-align: center;*/
    font-family: Poppins, sans-serif;
    font-size: 1.4rem;
    padding: 0  80px 40px;
    
}

/*ANIMATIONS-FROM-question-section*/

@keyframes question-arrow-dow {
    from{
        transform: rotate(-180deg);
    }
    
    to{
        transform: rotate(-90deg);
    }
}


@keyframes question-arrow-up {
    from{
        transform: rotate(-90deg);
    }

    to{
        transform: rotate(-180deg);
    }
}


@keyframes question-xpand {
    from{
        height: 60px;

    }

    to{
        height: 180px;
    }
    
}


@keyframes question-reduce {
    from{
        height: 180px;

    }

    to{
        height: 60px;
    }
    
    
}


/*
==================================================
            question-section-end
==================================================
*/




/*
==================================================
                     Footer
==================================================
*/


footer {

    width: 100%;
    min-width: 1024px;
    max-width: 1440px;
    height: auto;
}

.footer-formulario {

    width: 100%;
    height: 500px;
    background-image: url("http://localhost/skylling/static/assets/fondo-footer1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.footer-formulario .footer-formulario__container {

    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-formulario__container .formulario__text-container {

    width: auto;
    height: 190px;
    z-index: 1;
    padding: 0 190px;
    margin-top: 100px;
}

.formulario__text-container h3 {

    color: #ffffff;
    font-family: nexa-bold;
    font-size: 4.5rem;
    margin-top: 40px;
    text-align: center;
    position: relative;
}

.formulario__text-container .text-container__element {

    width: 310px;
    height: 30px;
    position: absolute;
    top: 30px;
    right: -60px;
    background-color: #0f7b7b;
    z-index: -1;
    border-radius: 20px;
}

.formulario__text-container p {

    color: #ffffff;
    font-family: nexa-light;
    font-size: 2rem;
    margin-top: 40px;
    text-align: center;
} 

.footer-formulario__container .formulario__inputs-container {
    display: flex;/*verificar*/
    width: 900px;
    min-width: 900px;
    height: 50px;
    background-color: #c8cad1;
    border-radius: 50px;
    border: 2px solid #c8cad1; 

}

.footer-formulario__container .formulario__inputs-container input {

    all: unset;
    width: 610px;
    height: 40px;
    caret-color: #5c647b;
    font-family: nexa-light;
    color: #5c647b;
    font-size: 2rem;
    font-weight: 700;
    margin: 5px 0 0 50px;
}

.formulario__inputs-container .btn {
    width: 234px;
    height: 46px;
    font-family: nexa-light;
    /*top: -7px; verificar*/
    background-color: #283890;
    background-image: linear-gradient(90deg, #283890 0%, #1eb0b6 53%, #283890 100%);
    color: #fff;
    border-radius: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.formulario__inputs-container .btn span {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: top 0.5s;
}

.formulario__inputs-container .btn-text-one {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.formulario__inputs-container .btn-text-two {
    position: absolute;
    width: 100%;
    top: 150%;
    left: 0;
    transform: translateY(-50%);
}

.formulario__inputs-container .btn:hover .btn-text-one {
    top: -100%;

}

.formulario__inputs-container .btn:hover .btn-text-two {
    top: 50%;
}

footer .footer-info {

    width: 100%;
    height: 700px;
    background-color: #fafafc;
    background-image: url("http://localhost/skylling/static/assets/background-principal-section.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-info__logo-container {

    height: 140px;
}


.footer-info__logo-container .navbar-logo{

    display: inline-block;
    width: 220px;
    height: 182px;
    margin: 0 0 0 40px;
    background-image: url("http://localhost/skylling/static/assets/logo-skylling.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.footer-info__text-container {

    width: 100%;
    min-width: 1024px;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
}

.footer-info__text-container .text-container__text1 {

    width: 300px;
    height: 250px;
}

.text-container__text1 h3 {

    font-family: nexa-bold;
    font-size: 2.5rem;
    color: #234e9d;
}

.text-container__text1 p {

    color: #091439;
    font-family: nexa-light;
    font-size: 1.6rem;
    font-weight: 700;
    margin-top: 10px;
    line-height: 25px;
} 

.footer-info__text-container .text-container__text2 {

    width: 250px;
    height: 200px;
    display: flex;
    flex-direction: column;
}

.footer-info__text-container .text-container__text2 h3 {

    font-family: nexa-bold;
    font-size: 2.5rem;
    color: #234e9d;
}

.footer-info__text-container .text-container__text2 a {

    color: #091439;
    font-family: nexa-light;
    font-size: 2rem;
    font-weight: 700;
    line-height: 25px;
    margin-top: 10px;
    text-decoration: none;
    
} 


.footer-info__text-container .text-container__text3 {

    width: 250px;
    height: 200px;
}

.footer-info__text-container .text-container__text3 h3 {

    font-family: nexa-bold;
    font-size: 2.5rem;
    color: #234e9d;
}

.footer-info__text-container .text-container__text3 p {

    color: #091439;
    font-family: nexa-light;
    font-size: 1.6rem;
    font-weight: 700;
    margin-top: 10px;
    line-height: 25px;
}


.footer-info__button-container {

    width: 100%;
    min-width: 1024px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px 0 60px;
}

.footer-info .principal-section-button {
    width: 25rem;
    font-size: 2.3rem;
    padding: 5px 0 0 0 ;

}

.footer-info .principal-section-button-container {

    width: 300px;
}

.footer-info__links-container {

    width: 250px;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-info__links-container span {
    width: 45px;
    height: 45px;
    border-radius: 5px;
    display: inline;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 19px 20px 30px -5px rgba(0,0,0,0.60);
}



.footer-info__links-container span a {

    display: block;
    width: 100%;
    height: 100%;
}


.footer-info__links-container .facebook {

    background-image: url("http://localhost/skylling/static/assets/facebook.png");
    border-radius: 8px;
}

.footer-info__links-container .twitter {

    background-image: url("http://localhost/skylling/static/assets/twitter.png");
}

.footer-info__links-container .be {

    background-image: url("http://localhost/skylling/static/assets/be.png");
} 

.footer-info__links-container .linkedin {

    background-image: url("http://localhost/skylling/static/assets/linkedin.png");
} 

.footer-info__texto-final {

    width: 100%;
    height: auto;
    margin-top: 80px;
}

.texto-final__negrita {

    font-family: nexa-bold;
    color: #2158a8;
    font-size: 3rem;
    font-weight: bold;
}

.texto-final__h3 {

    text-align: center;
    font-family: nexa-light;
    color: #091539;
    font-size: 3rem;

}



/*
==================================================
                     Footer-end
==================================================
*/
