/*
==================================================
                      config
==================================================
*/
html{
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: nexa-light;
    src: url("../fonts/Light/nexa-light.otf");
}


@font-face {
    font-family: nexa-bold;
    src: url("../fonts/Bold/nexa-bold.otf");
}

/*
==================================================
                      Main
==================================================
*/

body{
    overflow-y: scroll;
    scrollbar-width: thin;
    scroll-behavior: smooth;

}



main{
   
    width: 100%;
    min-width: 320px;
    max-width: 768px;
    margin: 0 auto; 
    /*display: none;*/
    /*background-image: url("http://localhost/skylling/static/assets/background-principal-section.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/


}


.nav-bar{
    display: flex;
    position: absolute;
    justify-content: space-between;
    /*max-width: 1440px; desktop*/ 
    min-width: 320px;
    width: 100%;
    height: 98px;
    padding: 0 20px;
    margin: 0 auto;
    transform: translate(-50%);
    left: 50%;
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    z-index: 1;
    
   
}

.navbar-list{
    position: absolute;
    display: flex;
    /*display: none;*/
    width: 100vw;
    height: 100vh;
    list-style: none;
    gap: 48px;
    justify-content: center;
    align-items: center;
    /*top: 20vh;*/
    flex-direction: column;
    z-index: -1;
    top: -100vh;
    background-color: #fff;
    left: 0;
    min-width: 320px;
      
}


.navbar-list li{
   
    cursor: pointer;
    
}

.navbar-list .log-in{

    
}

.navbar-list .home{
    display: none;
}

.navbar-list li:first-child{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #2158a8;

}


.nav-bar-logo-container{
    
    width: 20%;
    min-width: 100px;
    height: auto;
    
}

.navbar-logo{
    display: inline-block;
    /*width: 136px;*/
    width: 100%;
    height: 98px;
    background-image: url("http://localhost/skylling/static/assets/logo-skylling.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}


.navbar-button-login-container{
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: center;

}



.navbar-button-login {
    display: none;
  }
  
 .menu-hamburger{
    display: inline-block;
    width: 20%;
    height: 20%;
    background-image: url("http://localhost/skylling/static/assets/menu-redondeado.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 } 


/*
==================================================
                      nav-end
==================================================
*/



/*
==================================================
                Principal-section
==================================================
*/


.principal-section{
    
    width: 100%;
    min-width: 320px;
    max-width: 768px;
    height: auto;
    padding: 98px 0 0;
    font-family: nexa-light;
    font-size: 1.6rem;
    /*background-image: url("http://localhost/skylling/static/assets/background-principal-section.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
}


.principal-section .principal-section-bg{
   
    position: absolute;
    width: 100%;
    height: 100%;
    min-width: 320px;
    /*transform: rotate(45deg);*/
    /*background-color: #091539;*/
    background-image: url("http://localhost/skylling/static/assets/background-principal-section.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    z-index: -4;

}

.principal-section-container{
    /*display: flex; desktop*/
    width: 100%;
    height: auto;
    /*grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 260px 460px;*/
}

.principal-section .title-container{
    display: flex;
    width: 100%;
    /*grid-column-start: 1;
    grid-column-end: 4; desktop*/
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    
}

.principal-section .title-container > p{
    text-align: center;
    
}

.principal-section .title-container .title-container__span{
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    color: #091439;
}


.principal-section  .figure{
    /*position: relative;*/
    width: 100%;
    /*grid-column-start: 1;
    grid-column-end: 3; desktop*/
}


.principal-section .desktop{
    display: none;
}

.principal-section .mobile{
    position: relative;
    min-width: 320px;
    left: -10%;
    margin: 16px 0 0;

}

.principal-section .desktop{
    display: none;
    position: absolute;
    min-width: 320px;
    left: -10%;
    margin: 16px 0 0;
}

.principal-section .img-container{
    /*position: absolute; desktop*/
    width:  100%;
    height: 50%;
    /*top: -36px; desktop*/
   
    /*margin-left: -120px; desktop*/
   
    
}

.principal-section .img-container > img{
    width: 100%;
    height: 100%;
}


.principal-section .content-container{
    display: flex;
    position: relative;
    width: 100%;
    /*padding: 0 0 70px;*/
    /*top: -8px; desktop*/
    /*left: -60px; desktop*/
    /*grid-column-start: 3;
    grid-column-end: 4;*/
    flex-direction: column;
    /*justify-content: space-around;*/
    align-items: center;
    /*background-color: #2158a8;*/
    /*padding: 0 40px 0 20px; desktop*/
    gap: 20px;
    
}

.principal-section .content-container .text-container{
    
    /*width: auto; desktop*/
    width: 80%;
    height: auto;
    text-align: center;
    /*margin-bottom: 12px; desktop*/
    /*font-size: 2.8rem;*/
    font-size: 1.8rem;
}

/*
.principal-section .content-container .text-container > p{

}*/


.principal-section-button-container{
    display: flex;
    width: 100%;
    height: auto;
    /*justify-content: left; desktop*/
    justify-content: center;
}

.principal-section-button {

   

    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    /*padding: 0;*/
    /*font-size: inherit;*/
    font-size: 1.8rem;
    font-family: Poppins, sans-serif;
    font-weight: 300;

    
   }
   
   button.principal-section-button {
    /*width: 19.2rem;*/
    width: 18rem;
    /*font-size: 2.3rem;desktop*/
    padding: 5px 0 0 0;
    height: auto;

   }
   
   button.principal-section-button .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    /*
    width: 4.8rem;
    height: 4.8rem;*/
    width: 3.8rem;
    height: 3.8rem;
    background: #091539;
    border-radius: 2.6rem;
   }
   
   button.principal-section-button .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
   }
   
   button.principal-section-button .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.5rem;
    width: 1.8rem;
    height: 0.2rem;
    background: none;
   }
   
   button.principal-section-button .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.464rem;
    right: 0.1rem;
    width: 1rem;
    height: 1rem;
    border-top: 0.2rem solid #fff;
    border-right: 0.2rem solid #fff;
    transform: rotate(45deg);
   }
   
   button.principal-section-button .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: -8px;
    bottom: 0;
    padding: 1.001rem 0;
    /*margin: 0 0 0 2.96rem;*/
    margin: 0 0 0 3.6rem;
    color: #282936;
    /*font-weight: 700;*/
    line-height: 1.6;
    text-align: center;
    font-family: Poppins, sans-serif;
    /*text-transform: uppercase;*/
   }
   
   .principal-section-button:hover .circle {
    width: 110%;
   }

   
   .principal-section-button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
   }
   
   .principal-section-button:hover .button-text {
    color: #fff;
   }


/*.background-container{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("http://localhost/skylling/assets/background-principal-section.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}*/




/*
==================================================
                Principal-section_end
==================================================
*/




/*
==================================================
                section-detail
==================================================
*/


.section-detail { 

    width: 100%;
    height: auto;
    position: relative;
    /* z-index: -3; */
    background-color: #091439;
    min-width: 320px; /*verificar*/
    max-width: 768px;
    background-image: url("http://localhost/skylling/static/assets/background-principal-section.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*padding: 0 0 70px 0;*/
    
}

.section-detail .section-detail__mundo {

    width: 90px;
    height: 80px;
    position: absolute;
    right: calc(70% - 15px);
    top: -20px;
}

.section-detail__mundo img {

    width: 100%;
    height: 100%;
}

.section-detail .section-detail__titulo {

    width: 100%;
    height: auto;
    position: absolute;
    top: 40px;
}

.section-detail .section-detail__titulo h3 {

    text-align: center;
    font-family: nexa-light;
    font-family: 100;
    font-size: 2rem;
    color: #ffffff;
}

.section-detail .section-detail__titulo .titulo__negrita {

    font-family: nexa-bold;
    font-weight: bold;
}

.section-detail .section-cards {

    width: 100%;
    height: auto;
    padding-top: 170px;
}

.section-detail .section-cards .cards-container {

    width: auto;
    height: 100%;
    display: grid;
    margin: 0 10px;
    row-gap: 20px;
    column-gap: 20px;
    grid-template-columns: repeat(3, minmax(85.33px, 1fr));
    grid-template-rows: auto 1fr;
    justify-items: center;
    align-items: center;
    
}


.section-detail .section-cards .cards-container .container {
    
    width: 80px;
    height: 95px;
    background-image: url("http://localhost/skylling/static/assets/fondo.png");
    background-repeat: no-repeat;
    background-size: cover;
}


.section-detail .section-cards .cards-container p {
    
    font-family: nexa-light;
    color: #e6e7eb;
    text-align: center;
    font-weight: 500;
    font-size: 1rem;
}

@media screen and (min-width: 500px) {

    .section-detail .section-cards .cards-container {
        
        column-gap: 70px;
        margin: 0 40px;
    }

    .section-detail .section-cards .cards-container p {

        font-size: 1.2rem;
    }
}

.section-detail .section-cards .cards-container .container .box-hover {

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.section-detail .section-cards .cards-container .container .box-hover .contain-finanzas {

    width: 60px;
    height: 80px;
}

.section-detail .section-cards .cards-container .container .box-hover .hover:hover {

    background: rgba(58, 58, 58, 0.288);
    z-index: 2;
    cursor: pointer;
    border-radius: 40px;
}

.section-detail .section-cards .cards-container .container .box-hover .contain-facturacion {

    width: 80px; 
    height: 80px;
    
}

.section-detail .section-cards .cards-container .container .box-hover .contain-crm {

    width: 70px;
    height: 80px;
}

.section-detail .section-cards .cards-container .container .box-hover .contain-finanzas img {

    width: 100%;
    height: 100%;
}

.section-detail .section-cards .cards-container .container .box-hover .contain-facturacion img {

    width: 100%;
    height: 100%;
}

.section-detail .section-cards .cards-container .container .box-hover .contain-crm img {

    width: 100%;
    height: 100%;
}

.section-detail .section-pasos {

    width: 100%;
    /*height: 690px;*/
}

.section-detail .section-pasos .division-img {
    
    display: none;
    width: 100%;
    height: 100%;
}


.section-detail .section-pasos .division-img figure img {
    
    display: none;
    width: 100%;
    height: 100%;
    margin-left: 50px;
}

.section-detail .section-pasos .division-info {

    width: auto;
    height: auto;
}

.section-detail .section-pasos .division-info .container-info {

    width: 100%;
    height: auto;
}

.section-detail .section-pasos .division-info .container-info .text-info {

    position: relative;
    text-align: center;
    padding-top: 30px;
}

.section-detail .section-pasos .division-info .container-info .text-info .text-info__element {

    width: 100px;
    height: 10px;
    position: absolute;
    top: calc(70% - 17px);
    left: calc(50% + 10%);
    background-color: #0f7b7b;
    z-index: -1;
    border-radius: 20px;
}


.section-detail .section-pasos .division-info .container-info .text-info h3 {
    
    font-family: nexa-light;
    font-size: 2rem;
    position: relative;
    color: #ffffff;
    z-index: 3;
    font-weight: 200;
    
}


.negrita {
    
    font-weight: bold;
    font-family: nexa-bold;
}


.section-pasos .division-info .container-info .text-info p {
    
    color: #ffffff;
    font-size: 1.3rem;
    font-family: nexa-light;
    margin-top: 10px;
}

@media screen and (max-width: 400px) {

    .section-detail .section-pasos .division-info .container-info .text-info h3 {

        font-size: 1.5rem;
    }

    .section-pasos .division-info .container-info .text-info p {

        font-size: 1rem;
    }
}

.section-pasos .division-info .container-info .cards-info {

    margin-top: 50px;
    position: relative;
    justify-content: space-evenly;
    left: -60px;
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    grid-template-rows: 1fr 1fr;
}


.section-detail .cloud-bg{
    position: absolute;
    width: 100%;
    height: 100px;
    background-image: url("http://localhost/skylling/static/assets/cloud.png");
    background-position: center 1%;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    bottom: -10px;
}


.section-pasos .division-info .container-info .cards-info .fondo {
    display: flex;
    width: 100%;
    height: 200px;
    position: relative;
    background-image: url("http://localhost/skylling/static/assets/background-steps.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}



/* .section-pasos .division-info .container-info .cards-info .fondo .cards-info-paso1 {

   
    
}

.section-pasos .division-info .container-info .cards-info .fondo .cards-info-paso2 {

    
}

.section-pasos .division-info .container-info .cards-info .fondo .cards-info-paso3 {

    
    
}

.section-pasos .division-info .container-info .cards-info .fondo .cards-info-paso4 {

  
    
}

.section-pasos .cards-info__title{

} */

.section-pasos .cards-info__caption{
    color: rgb(175, 40, 89) ;
    font-size: 2rem;

}




.section-pasos .division-info .container-info .cards-info .fondo .cards-info__img {

    width: 100%;
    height: 100%;
    
}

.section-pasos .division-info .container-info .cards-info .fondo .cards-info__span {

    
    width: 90px;
    height: 90px;
    display: block;
    left: 30px;
    top: -20px;
    z-index: 1;
    position: absolute;

}

.section-pasos .division-info .container-info .cards-info .fondo .cards-info__span img {

    
    width: 100%;
    height: 100%;

}




.steps-info-container{
    /*position: relative; desktop*/
    /*display: grid; desktop*/
    width: 100%;
    /*min-width: 563px;*/
    /*min-height: 400px; desktop*/
    /**/
    max-width: 768px;

   /* grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;*/
    justify-items: center;
    margin: 70px 0 0;
    /*left: -5%;*/

    
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    display: flex;
    gap: 0 40px;
    padding: 10px 36px 80px;



}

.steps-info-container .steps-info__cell{
    width: auto;
    height: 80%;
    position: relative;
   /* background-image: url("/background-steps.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: blue;*/
    scroll-snap-align: center;
   
  
    
}

.steps-info-container .ball{
    position: absolute;
    display: inline-block;
    width: 80px;
    height: 80px;
    background-image: url("http://localhost/skylling/static/assets/balls.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    top: -20px;
    left:  -20px;
    z-index: 3;
}

.steps-info-container .steps-info__cell .content-container{
   width: 100%;
   height: 100%;
   text-align: center;
   font-family: Poppins, sans-serif;
   font-size: 2.4rem;
   padding: 20px 0 0;
  
}






/*///////////////////////////////////////////////////////////////////////////////*/

.steps-info-container .info-section{
    display: flex;
    position: relative;
    
    width: 230px;
    height: 100%;
    
    /*width: 300px;*/
    /*min-width:300px;*/
    min-height: 150px;
    
    border: solid white 0.50px;
    border-radius: 50px;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*background-color: aqua;*/
    /*gradient*/
    /*background: rgb(182,182,231);
    background: linear-gradient(90deg, rgba(182,182,231,0.7301594574780059) 10%, rgba(235,235,254,1) 100%);*/

    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0.7125641495601174) 10%, rgba(235,235,254,1) 100%);

    

    overflow: hidden;
    /*Sombra*/
    box-shadow: 7px 1px 14px 3px rgba(0,0,0,0.2);
    -webkit-box-shadow: 7px 1px 14px 3px rgba(0,0,0,0.2);
    -moz-box-shadow: 7px 1px 14px 3px rgba(0,0,0,0.2);
}



.steps-info-container .info-section .texture{
    position: absolute;
    width: 100%;
    height: 100%;
    /*width: 100%;*/
    min-width: 300px;

    min-height: 150px;
    background-image: url("http://localhost/skylling/static/assets/background-texture.png");
    background-position: -100px;
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(0.5px);
    opacity: 0.6;
    z-index: 1;
    
}


.steps-info-container .text-container{
    position: relative;
    padding: 10px 20px;
    margin: 0;
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 1.5rem;
    line-height: 1;
    color: #121d40;
    z-index: 2;

   
    /*color: #091439;*/
}

.steps-info-container .text-container p{
    margin: 0;
   
}


.steps-info-container .text-container__title {
   
    margin: 0 0 8px !important; 
    font-weight: bold;
    font-size: 2rem;
    line-height: 1;
   
    
}   

.steps-info-container .cloud-bg{
   
    position: absolute;
    width: 100%;
    height: 100px;
    background-image: url("http://localhost/skylling/static/assets/cloud.png");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    bottom: -10px;
}

/*
==================================================
            question-section-end
==================================================
*/





/*
==================================================
                section-detail-end
==================================================
*/







/*
==================================================
                question-section
==================================================
*/


.questions-section{
  
    display: flex;
    width: 100%;
    height: auto;
    min-width: 320px;
    max-width: 768px;
    justify-content: center;
    align-items: center;
    /*background-image: url("/assets/shadow.png");
    background-position:  bottom;
    background-repeat: no-repeat;
    background-size: cover;*/
    background-color: white;
}

.questions-section-container{
    display: flex;
    width: 100%;
    height: auto;
    /*padding: 100px 0 100px; desktop*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 0 60px;
}

/*.questions-section .background-cloud{
    position: absolute;
    width: 100%;
    height: 100px;
    min-width: 1024px;
    top: 0;
    background-image: url("http://localhost/skylling/static/assets/background-cloud.png");
    background-position:  bottom;
    background-repeat: no-repeat;
    background-size: cover;
    
} */


.questions-section .title-container{
    position: relative;
    display: flex;
    /*width: 340px;*/
    height: auto;
    margin: 0 0 50px;
    justify-content: center;
    

}


.questions-section .title-container .text-container{
    width: 70%;
    padding: 0 16px;
    text-align: center;
    font-size: 2rem;
    color: #091439;
    font-family: nexa-light;
    
}



.questions-section .title-container span{
    font-family: Poppins, sans-serif;
    font-weight: bolder;
    
}



.questions-section .title-container h3{
   font-size: 2rem;
}


.questions-section .img-container{
    position: absolute;
    
}



@media (min-width: 370px) {
    
    .questions-section .img-container{
        width: 20%;
        height: 54%;
        top: 43px;
        right: 5%;
             
    }
    
}



@media (max-width: 370px) {

    .questions-section .img-container{
        width: 20%;
        height: 35%;
        top: 43px;
        right: 5%;
             
    }
}




.questions-section .img-container span{
    display: inline-block;
    width: 100%;
    height: 100%;
    background-image: url("http://localhost/skylling/static/assets/signo-pregunta.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.questions-section .content-container{

    display: flex;
    width: 100%;
    height: auto;
    /*padding: 20px 0 0;*/
    position: static;
    overflow-y: hidden;
   /* width: 600px;
    height: 360px*/
    justify-content: center;
    flex-direction: column;
    align-items: center;
     
}

.questions-section .content-container .question{
    
    width: 78%;
    min-width: 320px;
    height: 70px;
    margin: 10px 0;
    padding: 10px;
    overflow-y: hidden;
    text-align: center;
    border-radius: 40px;
    color: #091439;
    background-color:  #f4f5f8;;
    box-shadow: 7px 1px 14px 3px rgba(0,0,0,0.2);
    -webkit-box-shadow: 7px 1px 14px 3px rgba(0,0,0,0.2);
    -moz-box-shadow: 7px 1px 14px 3px rgba(0,0,0,0.2);
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    
    
    /*height: auto;*/

}



.questions-section .content-container .question-title{
    display: flex;
    width: 100%;
    /*margin: 8px 0 20px;*/
    /*padding: 0 60px;*/
    /*margin-bottom: 16px;*/
    justify-content: center;
    font-family: nexa-light;
    font-size: 2rem;
   
}

.questions-section .content-container .question-title p{
    font-size: 1.8rem;
    width: 100%;
    margin: 1.5% 0 10%;

}


.questions-section .question .question-title__icon-arrow{
    display: inline-block;
    width: 30px;
    height: 30px;
    margin:  5px 20px 0 0;
    background-image: url("http://localhost/skylling/static/assets/arrow-min.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotate(-180deg);
    animation-duration: 0.3s;
    /*animation-delay: 1s;*/
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    cursor: pointer;
    
}





.questions-section .content-container .question-title span{
    font-family: nexa-bold;
    font-size: 1.8rem;
   
}

.questions-section .content-container .question-text{
    /*text-align: center;*/
    font-family: Poppins, sans-serif;
    font-size: 1.4rem;
    /*padding: 0  80px 80px;*/
    padding: 10px 80px 80px;
    
}

/*ANIMATIONS-FROM-question-section*/

@keyframes question-arrow-dow {
    from{
        transform: rotate(-180deg);
    }
    
    to{
        transform: rotate(-90deg);
    }
}


@keyframes question-arrow-up {
    from{
        transform: rotate(-90deg);
    }

    to{
        transform: rotate(-180deg);
    }
}


@keyframes question-xpand {
    from{
        height: 60px;

    }

    to{
        height: 180px;
    }
    
}


@keyframes question-reduce {
    from{
        height: 180px;

    }

    to{
        height: 60px;
    }
    
    
}




/*
==================================================
            question-section-end
==================================================
*/





/*
==================================================
                     Footer
==================================================
*/



.footer-info {

    width: 100%;
    min-width: 320px;
    max-width: 768px;
    height: auto;
    padding: 0 0 60px;
}

.footer-formulario {

    width: 100%;
    height: 480px;
    background-image: url("http://localhost/skylling/static/assets/fondo-footer1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.footer-formulario .footer-formulario__container {

    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-formulario__container .formulario__text-container {

    width: auto;
    height: 80px;
    z-index: 1;
    margin-top: 100px;
}

.formulario__text-container h3 {

    color: #ffffff;
    font-family: nexa-bold;
    font-size: 2rem;
    margin-top: 40px;
    text-align: center;
    position: relative;
}

.formulario__text-container .text-container__element {

    width: 100px;
    height: 10px;
    position: absolute;
    top: 10px;
    right: calc(20% - 20px);
    background-color: #0f7b7b;
    z-index: -1;
    border-radius: 20px;
}

.formulario__text-container p {

    color: #ffffff;
    font-family: nexa-light;
    font-size: 1.5rem;
    margin-top: 40px;
    text-align: center;
} 

.footer-formulario__container .formulario__inputs-container {
    display: flex;/*verificar*/
    min-width: 280px;
    max-width: 380px;
    height: 30px;
    background-color: #c8cad1;
    border-radius: 50px;
    border: 2px solid #c8cad1; 
    justify-content: space-between;
    align-items: center;

}

.footer-formulario__container .formulario__inputs-container input {

    all: unset;
    min-width: 180px;
    max-width: 380px;
    height: 30px;
    caret-color: #5c647b;
    font-family: nexa-light;
    color: #5c647b;
    font-size: 0.8rem;
    font-weight: 700;
    margin: 0 0 0 10px;
}

.formulario__inputs-container .btn {
    height: 30px;
    font-family: nexa-light;
    min-width: 90px;

    /*top: -7px; verificar*/
    background-color: #283890;
    background-image: linear-gradient(90deg, #283890 0%, #1eb0b6 53%, #283890 100%);
    color: #fff;
    border-radius: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.formulario__inputs-container .btn span {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: top 0.5s;
}

.formulario__inputs-container .btn-text-one {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.formulario__inputs-container .btn-text-two {
    position: absolute;
    width: 100%;
    top: 150%;
    left: 0;
    transform: translateY(-50%);
}

.formulario__inputs-container .btn:hover .btn-text-one {
    top: -100%;

}

.formulario__inputs-container .btn:hover .btn-text-two {
    top: 50%;
}

.footer-info {
    width: 100%;
    min-width: 320px;
    max-width: 768px;
    height: 300px;
    background-color: #fafafc;
    background-image: url("http://localhost/skylling/static/assets/background-principal-section.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   /* padding: 0 0 20px;*/
}

.footer-info__logo-container {
    display: none;
    height: 140px;
}


.footer-info__logo-container .navbar-logo{

    display: inline-block;
    width: 220px;
    height: 182px;
    margin: 0 0 0 40px;
    background-image: url("http://localhost/skylling/static/assets/logo-skylling.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.footer-info__text-container {

    width: 100%;
    min-width: 320px;
    height: 140px;
    display: flex;
    justify-content: space-between;
    /*text-align: center;*/
    /*text-align: justify;*/
    gap: 0 30px;
    padding: 20px 20px;
}





.footer-info__text-container .text-container__text1 {

    width: 80%;
    max-width: 150px;
    height: auto;
}

.text-container__text1 h3 {

    font-family: Poppins, sans-serif;
    font-weight: bolder;
    font-size: 1rem;
    color: #234e9d;
}

.text-container__text1 p {

    color: #091439;
    font-family: nexa-light;
    font-size: 0.6rem;
    font-weight: 700;
    margin-top: 10px;
} 

.footer-info__text-container .text-container__text2 {

    width: auto;
    /*height: 200px;*/
    display: flex;
    flex-direction: column;
}

.footer-info__text-container .text-container__text2 h3 {

    font-family: Poppins, sans-serif;
    font-weight: bolder;
    font-size: 1rem;
    color: #234e9d;
    margin-bottom: 10px;
}

.footer-info__text-container .text-container__text2 a {

    color: #091439;
    font-family: nexa-light;
    font-size: 0.6rem;
    font-weight: 700;
    line-height: 15px;  
    text-decoration: none;
    
} 


.footer-info__text-container .text-container__text3 {

    width: 70%;
    max-width: 150px;
    height: auto;
}

.footer-info__text-container .text-container__text3 h3 {

    font-family: Poppins, sans-serif; 
    font-weight: bolder;
    font-size: 1rem;
    color: #234e9d;
}

.footer-info__text-container .text-container__text3 p {

    color: #091439;
    font-family: nexa-light;
    font-size: 0.6rem;
    font-weight: 700;
    margin-top: 10px;
    line-height: 15px;
}




@media (min-width: 540px) {
    
    /*content one*/
        
    .footer-info__text-container .text-container__text1 {

        width: 90%;
        max-width: 150px;
        height: auto;
    }

        
    .text-container__text1 h3 {

      
        font-size: 1rem;
        
    }

    .text-container__text1 p {

     
        font-size: 1rem;
        
    } 


    /*content two*/
        
    .footer-info__text-container .text-container__text2 {

        width: auto;
        /*height: 200px;*/
        display: flex;
        flex-direction: column;
    }
        
    .footer-info__text-container .text-container__text2 h3 {

       
        font-size: 1rem;
       
    }

    .footer-info__text-container .text-container__text2 a {

      
        font-size: 1rem;
        
    } 



    /*content three*/
        
    .footer-info__text-container .text-container__text3 {

        width: 80%;
        max-width: 150px;
        height: auto;
    }

        
    .footer-info__text-container .text-container__text3 h3 {

        font-size: 1rem;
    
    }

    .footer-info__text-container .text-container__text3 p {

      
        font-size: 1rem;
       
    }

}











.footer-info__button-container {

    display: flex;
    width: 100%;
    height: auto;
    min-width: 320px;
    justify-content: center;
    align-items: center;
    padding: 10px 20px 0;
    flex-wrap: wrap;
    gap: 10px;
}



.footer-info .principal-section-button-container{
    display: none;
}






/*
.footer-info .principal-section-button {

    font-size: 1.7rem;
}


.footer-info .principal-section-button .button-text{
    
    padding: 0.5rem 0;
}

.footer-info .principal-section-button .circle{
    
    width: 3.1rem;
    height: 3.1rem;

}


.footer-info .principal-section-button .circle .icon.arrow::before{
    right: 0.5rem;
}

.footer-info  .principal-section-button:hover .circle {
    width: 116%;
}

*/





/*
.principal-section-button-container {

    width: 300px;
}*/

.footer-info__links-container {
    display: none;
    width: 250px;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-info__links-container span {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    display: inline;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 19px 20px 30px -5px rgba(0,0,0,0.60);
}



.footer-info__links-container span a {

    display: block;
    width: 100%;
    height: 100%;
}


.footer-info__links-container .facebook {

    background-image: url("http://localhost/skylling/static/assets/facebook.png");
}

.footer-info__links-container .twitter {

    background-image: url("http://localhost/skylling/static/assets/twitter.png");
}

.footer-info__links-container .be {

    background-image: url("http://localhost/skylling/static/assets/be.png");
} 

.footer-info__links-container .linkedin {

    background-image: url("http://localhost/skylling/static/assets/linkedin.png");
} 

.footer-info__texto-final {

    width: 100%;
    height: auto;
    margin-top: 40px;
}

.texto-final__negrita {

    font-family: Poppins, sans-serif;
    color: #2158a8;
  
    font-weight: bolder;
}

.texto-final__h3 {

    text-align: center;
    font-family: nexa-light;
    color: #091539;
    font-size: 1rem;

}


/*
==================================================
                     Footer-end
==================================================
*/