/*
==================================================
                      config
==================================================
*/
html{
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: nexa-light;
    src: url("../fonts/Light/nexa-light.otf");
}


@font-face {
    font-family: nexa-bold;
    src: url("../fonts/Bold/nexa-bold.otf");
}

/*
==================================================
                      Main
==================================================
*/

body{
    overflow-y: scroll;
    scrollbar-width: thin;
    scroll-behavior: smooth;

}



main{
   
    width: 100%;
    min-width: 320px;
    max-width: 768px;
    margin: 0 auto; 
    /*   */
    /*background-image: url("http://localhost/skylling/static/assets/background-principal-section.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/


}


.nav-bar{
    display: none;
    position: absolute;
    justify-content: space-between;
    /*max-width: 1440px; desktop*/ 
    min-width: 320px;
    width: 100%;
    height: 98px;
    padding: 0 20px;
    margin: 0 auto;
    transform: translate(-50%);
    left: 50%;
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    z-index: 1;
    
   
}

.navbar-list{
    position: absolute;
    display: flex;
    /*display: none;*/
    width: 100vw;
    height: 100vh;
    list-style: none;
    gap: 48px;
    justify-content: center;
    align-items: center;
    /*top: 20vh;*/
    flex-direction: column;
    z-index: -1;
    top: -100vh;
   
    
      
}


.navbar-list li{
   
    cursor: pointer;
    
}

.navbar-list .log-in{
    
}

.navbar-list .home{
    display: none;
}

.navbar-list li:first-child{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #2158a8;

}


.nav-bar-logo-container{
    
    width: 20%;
    min-width: 100px;
    height: auto;
    
}

.navbar-logo{
    display: inline-block;
    /*width: 136px;*/
    width: 100%;
    height: 98px;
    background-image: url("http://localhost/skylling/static/assets/logo-skylling.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}


.navbar-button-login-container{
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: center;

}



.navbar-button-login {
    display: none;
  }
  
 .menu-hamburger{
    display: inline-block;
    width: 20%;
    height: 20%;
    background-image: url("http://localhost/skylling/static/assets/menu-redondeado.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 } 


/*
==================================================
                      nav-end
==================================================
*/




/*
==================================================
                Principal-section
==================================================
*/



.principal-section{
    display: none;
    width: 100%;
    min-width: 1024px;
    max-width: 1440px;
    height: auto;
    padding: 100px 0 40px;
    font-family: nexa-light;
    font-size: 1.6rem;
    /*background-image: url("http://localhost/skylling/static/assets/background-principal-section.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
}

/*
==================================================
                Principal-section_end
==================================================
*/



/*
==================================================
                section-detail
==================================================
*/


.section-detail { 
    /* display: none; */
    width: 100%;
    height: auto;
    position: relative;
    z-index: -3;
    background-color: #091439;
    min-width: 320px;
    max-width: 768px;
    background-image: url(http://localhost/skylling/static/assets/fondo\ \(2\).png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*padding: 0 0 70px 0;*/
    
}


/*
==================================================
                section-detail-end
==================================================
*/





/*
==================================================
                question-section
==================================================
*/

.questions-section{
    
    display: none;
    display: flex;
    width: 100%;
    height: auto;
    min-width: 1024px;
    max-width: 1440px;
    justify-content: center;
    align-items: center;
    /*background-image: url("/assets/shadow.png");
    background-position:  bottom;
    background-repeat: no-repeat;
    background-size: cover;*/
}

/*
==================================================
            question-section-end
==================================================
*/





/*
==================================================
                     Footer
==================================================
*/

.footer-formulario {
    display:none;
    width: 100%;
    height: 500px;
    background-image: url("http://localhost/skylling/static/assets/fondo-footer1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}


/*
==================================================
                     Footer-end
==================================================
*/