<!doctype html>
<html lang="es">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>Software Empresarial - Contabilidad, Inventario, Facturación y CRM</title>
    

    <!-- CSS -->
   <link href="css/new/frontend.css" rel="stylesheet">



   
    

   

</head>

<nav class="nav">
    <span class="nav-logo">

    </span>
    <ul>
        <li>Inicio</li>
        <li>Características</li>
        <li>Planes</li>
        <li>Sobre Nosotros</li>

    </ul>

    <button class="learn-more">
        <span class="circle" aria-hidden="true">
        <span class="icon arrow"></span>
        </span>
        <span class="button-text">Learn More</span>
    </button>

</nav>


