<!doctype html>
<html lang="es">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>Software Empresarial - Contabilidad, Inventario, Facturación y CRM</title>
    

    <!-- CSS -->
   <link href="/css/new/frontend.css" rel="stylesheet">



   
    

   

</head>

<nav class="nav-bar">
    <span class="navbar-logo">

    </span>
    <ul class="navbar-list">
        <li class="navbar-list__li">Inicio</li>
        <li class="navbar-list__li">Características</li>
        <li class="navbar-list__li">Planes</li>
        <li class="navbar-list__li">Sobre Nosotros</li>

    </ul>

    <button class="navbar-button-login">
        <span class="circle" aria-hidden="true">
        <span class="icon arrow"></span>
        </span>
        <span class="button-text">Iniciar Sesión</span>
    </button>

</nav>


