<!doctype html>
<html lang="es">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>Software Empresarial - Contabilidad, Inventario, Facturación y CRM</title>
    

    <!-- CSS -->
   <link href="/css/new/frontend.css" rel="stylesheet">


    <!-- Fonts-from-Google -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@800;900&display=swap" rel="stylesheet">


</head>

<nav class="nav-bar">
    <div class="nav-bar-logo-container">
        <span class="navbar-logo"></span>
    </div>

    <ul class="navbar-list">
        <li class="navbar-list__li">Inicio</li>
        <li class="navbar-list__li">Características</li>
        <li class="navbar-list__li">Planes</li>
        <li class="navbar-list__li">Sobre Nosotros</li>

    </ul>

    <div class="navbar-button-login-container">


        <button class="navbar-button-login">
            <span class="button-content">Iniciar sesión</span>
        </button>

        <!--  -->
    </div>    

</nav>


