<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/new/pricing.css" rel="stylesheet">


</head>
<body>


    <div class="princing-card">
        <div class="pricing-bg"></div>
        <div class="pricing-header">
            <h1>Básico</h1>
            <div class="prices">
                <p>19$ / mes</p>
            </div>
            <p class="pricing-header-text">
                Ideal para contratistas
                independientes o
                propietarios únicos
            </p>
        </div>

        <div class="pricing-features">

            <ul class="pricing-features__list">
                <li>Finanzas</li>
                <li>CRM</li>
                <li>Ventas</li>
                <li>Proveedores y Compras</li>
                <li>Atención al cliente</li>
                <li>SMS y marketing por correo electrónico</li>
                <li>gestión de recursos humanos</li>
            </ul>
            

        </div>

        <div class="pricing-btn-container">
           
            <button class="pricing-btn">
                <span class="pricing-btn-text-one">EMPEZAR</span>
                <span class="pricing-btn-text-two">¡GENIAL!</span>
            </button>


        </div>
    </div>
    
</body>
</html>