<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feature</title>
    <link href="/css/new/feature.css" rel="stylesheet">
</head>
<body>


    <!-- REEMPLAZAR -->
    <header class="header">
        <nav class="nav-bar">
            <div class="nav-bar-logo-container">
                <span class="navbar-logo"></span>
            </div>

            <ul class="navbar-list" clicked="false">

                <li class="navbar-list__li log-in">Iniciar Sesión</li>
                <li class="navbar-list__li home">Inicio</li>
                <li class="navbar-list__li">Características</li>
                <li class="navbar-list__li">Planes</li>
                <li class="navbar-list__li">Sobre Nosotros</li>

            </ul>

            <div class="navbar-button-login-container">
                
                <span class="menu-hamburger" clicked="false">

                </span>

                <button class="navbar-button-login">
                    <span class="button-content">Iniciar sesión</span>
                </button>

            </div>    

        </nav>
    </header>


    <main class="main-feature">
        <section class="info-section-container">

            <div class="info-feature-principal-content">

               
            <div class="info-feature-img-container">            
                        <img class="info-feature-img-container__img" src="/static/assets/feature-avatar.png"  alt="Hombre en una nube">
            </div>
                
                
                
                    <div class="info-feature-title-container">
                        <h1>TODO VIENE <br><span class="bold">JUNTO</span></h1>
                    </div>  

            </div>

            <div class="info-feature-text-container">
            <h2 class="info-feature-text-container__content">Sea más productivo con<br> <span class="bold">el software comercial en línea</span></h2>
            <p class="info-feature-text-container__content">Software empresarial sencillo y asequible con funciones para ejecutar todos los aspectos de su negocio.</p>
            </div>
           

        </section>


        
    
    </main>

    
</body>
</html>



<section class="footer-formulario">
    <div class="footer-formulario__container">
        <div class="formulario__text-container">
            <h3>¡COMIENCE GRATIS HOY!<div class="text-container__element"></div></h3>
            <p> <strong class="negrita">Pruébalo gratis durante 14 días.</strong>  No se requiere tarjeta de crédito.
                Cancele en cualquier momento.</p>
        </div>
        <div class="formulario__inputs-container">
            <input type="email" placeholder="Introduce tu correo electrónico" name="" id="">
            <button class="btn">
                <span class="btn-text-one">EMPEZAR</span>
                <span class="btn-text-two">¡GENIAL!</span>
            </button>
        </div>
    </div>
</section>


<section class="footer-info">
    <div class="footer-info__logo-container">
        <span class="navbar-logo"></span>
    </div>
    <div class="footer-info__text-container">
        <div class="text-container__text1">
            <h3>¿Qué es Skylling?</h3>
            <p>Skylling es una suite de negocios con un
                conjunto de funciones que le permitirán
                centralizar su negocio y agilizar los procesos
                que este conlleva, brindándoles el soporte
                comercial dentro y más allá de los límites de
                su organización.</p>
        </div>
        <div class="text-container__text2">
            <h3>Company</h3>
                <a href="#">Sobre nosotros</a>
                <a href="#">Precios y Planes</a>
                <a href="#">Iniciar sesión</a>
                <a href="#">Contáctanos</a>
        </div>
        <div class="text-container__text3">
            <h3>ACERCA DE</h3>
            <p>Dirección <br>
                350 Rhode Island St Suite 240
                San Francisco, CA 94103, USA <br>
                +1 (650) 488-7772
                sales@skylling.com</p>
        </div>
    </div>
    <div class="footer-info__button-container">
        <div class="principal-section-button-container"> 
            <button class="principal-section-button">
                <span class="circle" aria-hidden="true">
                <span class="icon arrow"></span>
                </span>
                <span class="button-text">¡Empezar ahora!</span>
            </button>
        </div>
        <div class="footer-info__links-container">
            <span class="facebook"><a href="#"></a></span>
            <span class="twitter"><a href="#"></a></span>
            <span class="be"><a href="#"></a></span>
            <span class="linkedin"><a href="#"></a></span>
        </div>
    </div>
    <div class="footer-info__texto-final">
        <h3 class="texto-final__h3"> <strong class="texto-final__negrita">© 2023 Skylling, </strong>Reservados todos los derechos.</h3>
    </div>
</section>
</footer>