<!doctype html>
<html lang="es">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--keywords -->
    <meta name="keywords" content="Sistema de facturación web, Facturación en línea, Software de facturación, Gestión de facturas en la nube, Herramienta de facturación online, Facturación electrónica, Administración de facturas en internet, Facturas en la nube, Solución de facturación para empresas, Generador de facturas en línea, Control de facturación online, Sistema de contabilidad y facturación, Facturación para PYMEs, Gestión financiera en línea, Facturación automatizada, Software de control de gastos, Facturación y seguimiento de pagos, Solución de facturación para autónomos, Sistema de facturación basado en la web, Facturación segura y confiable">

    
    <title>Software Empresarial - Contabilidad, Inventario, Facturación y CRM</title>
    

    <!-- CSS -->
    <!-- Fonts-from-Google -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@800;900&display=swap" rel="stylesheet">

    <link href="/css/new/pricing.css" rel="stylesheet">



</head>


<body>
        <section class="pricing-section">
                <div class="pricing-container">

                    <div class="prices-cloud prices-cloud-one parallax-bg">
                        <img src="/static/assets/cloud-prices-card.png">
                    </div>

                    <div class="prices-cloud prices-cloud-two parallax-bg">
                        <img src="/static/assets/cloud-prices-card.png">
                    </div>

                    <div class="prices-cloud prices-cloud-three">
                        <img src="/static/assets/other-normal-cloud-prices.png">
                    </div>

                    <div class="prices-cloud prices-cloud-four">
                        <img src="/static/assets/other-normal-cloud-prices.png">
                    </div>
                  
                        
                        <div class="pricing-info-title">
                            <h1 class="pricing-info-title__h1">PRECIOS</h1>

                            <h2>Comience gratis.
                                Todos los planes incluyen elementos
                                esenciales de negocios.</h2>

                        </div>

                        <div            class="pricing-info-btn-container">

                            <div class="pricing-info__btn pricing-info__btn--mensual" clicked="true" planBtn="mensual">MENSUAL</div>
                            <div class="pricing-info__btn pricing-info__btn--anual" clicked="false" planBtn="anual">ANUAL</div>

                        </div>

                        <div class="menu-pricing-options">
                            <span class="pricing-option menu-pricing-options-basic" clicked="false">Básico</span>
                            <span class=" pricing-option menu-pricing-options-standard " clicked="false">Estándar</span>
                            <span class=" pricing-option menu-pricing-options-plus" clicked="false">Plus</span>
                        </div>

                    
                </div>

                <div class="pricing-slider-container">

            
                    <div class="princing-card princing-card-basic" clicked="false" plan="basic">
                            <div class="pricing-bg"></div>
                            <div class="pricing-header">
                                <h1>Básico</h1>
                                <div class="prices">
                                    <p class="prices__p">19$ / mes</p>
                                </div>
                                <p class="pricing-header-text">
                                    Ideal para contratistas
                                    independientes o
                                    propietarios únicos
                                </p>
                            </div>
                    
                            <div class="pricing-features">
                    
                                <ul class="pricing-features__list">
                                    <li>Finanzas</li>
                                    <li>CRM</li>
                                    <li>Ventas</li>
                                    <li>Proveedores y Compras</li>
                                    <li>Atención al cliente</li>
                                    <li>SMS y marketing por correo electrónico</li>
                                    <li>gestión de recursos humanos</li>
                                </ul>
                                
                    
                            </div>
                    
                            <div class="pricing-btn-container">
                               
                                <button class="pricing-btn">
                                    <span class="pricing-btn-text-one">EMPEZAR</span>
                                    <span class="pricing-btn-text-two">¡GENIAL!</span>
                                </button>
                    
                                
                            </div>
                    </div> 

                    <div class="princing-card princing-card-standard" clicked="false" plan="standard">
                        <div class="pricing-bg"></div>
                        <div class="pricing-header">
                            <h1>Estándar</h1>
                            <div class="prices">
                                <p class="prices__p">49 $ / mes</p>
                            </div>
                            <p class="pricing-header-text">
                                Para empresas con
                                un representante de ventas
                                o contador y
                                gerente de oficina
                            </p>
                        </div>
                
                        <div class="pricing-features">
                
                            <ul class="pricing-features__list">
                                <li>Finanzas</li>
                                <li>CRM</li>
                                <li>Ventas</li>
                                <li>Proveedores y Compras</li>
                                <li>Atención al cliente</li>
                                <li>SMS y marketing por correo electrónico</li>
                                <li>gestión de recursos humanos</li>
                            </ul>
                            
                
                        </div>
                
                        <div class="pricing-btn-container">
                           
                            <button class="pricing-btn">
                                <span class="pricing-btn-text-one">EMPEZAR</span>
                                <span class="pricing-btn-text-two">¡GENIAL!</span>
                            </button>
                
                            
                        </div>
                    </div> 

                <div class="princing-card princing-card-plus" clicked="false" plan="plus">
                    <div class="pricing-bg"></div>
                    <div class="pricing-header">
                        <h1>Plus</h1>
                        <div class="prices">
                            <p class="prices__p">99 $ / mes</p>
                        </div>
                        <p class="pricing-header-text">
                            Incorpore a todo su equipo,
                            deje que su empresa
                            crezca sin límites
                        </p>
                    </div>
            
                    <div class="pricing-features">
            
                        <ul class="pricing-features__list">
                            <li>Finanzas</li>
                            <li>CRM</li>
                            <li>Ventas</li>
                            <li>Proveedores y Compras</li>
                            <li>Atención al cliente</li>
                            <li>SMS y marketing por correo electrónico</li>
                            <li>gestión de recursos humanos</li>
                        </ul>
                        
            
                    </div>
            
                    <div class="pricing-btn-container">
                       
                        <button class="pricing-btn">
                            <span class="pricing-btn-text-one">EMPEZAR</span>
                            <span class="pricing-btn-text-two">¡GENIAL!</span>
                        </button>
            
                        
                    </div>
                </div> 


                

                    
                    
                    
                </div>

                        
            </section>

            <script src="/static/js/features.js"></script>
       
</body>
</html>