<!doctype html>
<html lang="es">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>Software Empresarial - Contabilidad, Inventario, Facturación y CRM</title>
    

    <!-- CSS -->
   <link href="/css/new/frontend.css" rel="stylesheet">


    <!-- Fonts-from-Google -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@800;900&display=swap" rel="stylesheet">


</head>

<section class="principal-section">
    <div class="background-container"></div>
    <div class="principal-section-container">

        <div class="title-container">
            <p>¡VENDER, COMERCIALIZAR <br>
             Y<strong><span class="title-container__span">ADMINISTRAR</span></strong> <br>
             SU NEGOCIO!</p>
        </div>

        <div class="img-container">
            <img src="/assets/computer-system-screen.png">
        </div>

        <div  class="content-container">
            <div class="text-container">
                <p class="text-container__p">
                    Skylling es una solución simple y
                    poderosa para gestionar
                    empresas en la nube.<br><br>

                    Liviana bajo su bolsillo, se paga
                    bajo una modalidad mensual,
                    eliminando costosas inversiones
                    iniciales
                </p>
            </div>

            <div class="principal-section-button-container"> 
                <button class="principal-section-button">
                    <span class="circle" aria-hidden="true">
                    <span class="icon arrow"></span>
                    </span>
                    <span class="button-text">Pruébalo Gratis</span>
                </button>
            </div>

        </div>

    </div>

</section>

<section>
  
</section>