<!doctype html>
<html lang="es">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>Software Empresarial - Contabilidad, Inventario, Facturación y CRM</title>
    

    <!-- CSS -->
   <link href="/css/new/frontend.css" rel="stylesheet">


    <!-- Fonts-from-Google -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@800;900&display=swap" rel="stylesheet">

    

</head>



<section class="questions-section">
    <div class="background-cloud"></div>
    <div class="questions-section-container">
        <div class="title-container">
            <div class="img-container">
                <span class="questions-section__img"></span>
            </div>
            <div class="text-container">
                <h2 class="title-container__h2">¿Tienes una <span>pregunta?</span></h2>
                <h3 class="title-container__h3">Resuelve tus dudas 
                    <br>antes de comenzar
                </h3>
            </div>
        </div>
        
        <div class="content-container">
            <div class="question">
                <div class="question-title">
                    <p>
                         ¿Cómo funciona la prueba <span>gratuita de 14 días?</span>
                    </p>
                    <span class="material-symbols-outlined">expand_more</span>
                </div>
    
                <div class="question-text">
                    Pruébalo, corre por nuestra cuenta.
                    Puede tener acceso ilimitado durante 14 días, sin contratos y
                    sin necesidad de tarjeta de crédito. Incluso obtiene soporte gratuito por teléfono y
                    correo electrónico en caso de que tenga preguntas sobre cómo configurar su cuenta.
                </div>
            </div>


            <div class="question">
                <div class="question-title">
                    ¿Cómo funciona la prueba <span>gratuita de 14 días?</span>
                </div>
    
                <div class="question-text">
                    Pruébalo, corre por nuestra cuenta.
                    Puede tener acceso ilimitado durante 14 días, sin contratos y
                    sin necesidad de tarjeta de crédito. Incluso obtiene soporte gratuito por teléfono y
                    correo electrónico en caso de que tenga preguntas sobre cómo configurar su cuenta.
                </div>
            </div>
        </div>
    </div>
    
    
    
</section>

