 <!-- {extends file="base.tpl"} -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/new/frontend.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <main>
        <section class="section-detail">
            <div class="section-cards">
                <div class="cards-container">
                    <div class="container">
                        <div class="box-hover">
                            <div class="contain-finanzas"><img src="/assets/Finanzas.png" alt="Finanzas"></div>
                        </div>
                    </div>
                    
                    <div class="container">
                        <div class="box-hover">
                            <div class="contain-facturacion"><img src="/assets/Facturacion.png" alt="Facturacion"></div>
                        </div>
                    </div>
                    
                    <div class="container">
                        <div class="box-hover">
                            <div class="contain-crm"><img src="/assets/crm.png" alt="crm"></div>
                        </div>
                    </div>
                    <p>Vea su imagen financiera
                        completa en un solo lugar.</p>
                    <p>Sorprenda a sus clientes
                        con facturas en línea.</p>
                    <p>Ayuda a vender, llegar a
                        los clientes y mejorar su
                        servicio al cliente.</p>
                </div>
            </div>
            <div class="section-pasos">
                <div class="division-img">
                    <figure>
                        <img src="/assets/persona.png" alt="">
                    </figure>
                </div>
                <div class="division-info">
                    <div class="container-info">
                        <div class="text-info">
                            <h3>Alrededor del mundo <strong class="negrita"> nuestros clientes </strong> <br> llevan su empresa al siguiente nivel</h3>
                            <p>Entendemos las necesidades de <br> <strong class="negrita">tu empresa en 4 pasos</strong></p>
                            <div class="text-info__element"></div>
                        </div>
                        <div class="cards-info">
                            <div class="fondo">
                                <div class="cards-info-paso1">
                                    <img class="cards-info__img" src="/assets/paso1.png" alt="">
                                </div>
                                <span class="cards-info__span">
                                    <img class="bola1" src="/assets/punto.png" alt="">
                                </span>
                            </div>
                            <div class="fondo">
                                <div class="cards-info-paso2">
                                    <img class="cards-info__img" src="/assets/paso2.png" alt="">
                                </div>
                                <span class="cards-info__span">
                                    <img src="/assets/punto.png" alt="">
                                </span>
                            </div>
                            <div class="fondo">
                                <div class="cards-info-paso3">
                                    <img class="cards-info__img" src="/assets/paso3.png" alt="">
                                </div>
                                <span class="cards-info__span">
                                    <img src="/assets/punto.png" alt="">
                                </span>
                            </div>
                            <div class="fondo">
                                <div class="cards-info-paso4">
                                    <img class="cards-info__img" src="/assets/paso4.png" alt="">
                                </div>
                                <span class="cards-info__span">
                                    <img src="/assets/punto.png" alt="">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>