 <!-- {extends file="base.tpl"} -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/new/frontend.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <main>
        <section class="section-container">
            <div class="section-cards">
                <div class="cards-container">
                    <div class="card">
                        <div class="img-container">
                            <img src="/assets/Finanzas.png" alt="Finanzas">
                        </div>
                        <p>Vea su imagen financiera
                            completa en un solo lugar</p>
                    </div>
                    <div class="card">
                        <div class="img-container">
                            <img src="/assets/Facturacion.png" alt="Facturacion">
                        </div>
                        <p>Sorprenda a sus clientes
                            con facturas en línea. </p>
                    </div>
                    <div class="card">
                        <div class="img-container">
                            <img src="/assets/CRM.png" alt="CRM">
                        </div>
                        <p>Ayuda a vender, llegar a
                            los clientes y mejorar su
                            servicio al cliente.</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>