<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>slider-faeture</title>
    <link href="/css/new/feature-slider.css" rel="stylesheet">
</head>
<body>

    <!-- <div class="card">
        <div class="bg"></div>
            <div class="img-container  billing"></div>
            <div class="text-container">
                <h2>CONTABILIDAD</h2>
                <p>  REALICE UN SEGUIMIENTO DE SUS INGRESOS Y TOME DECISIONES MAS INTELIGENTES.</p>
            </div>
    </div>  -->
    
<!-- 
    <div class="card">
        <div class="text-container">
            <h2>VENTAS</h2>
            <p>VENDA DE FORMA MAS INTELIGENTE Y RAPIDA.</p>
        </div>
    
    </div>

    <div class="card">
        <div class="text-container">
            <h2>FACTURACION</h2>
            <p>FACTURE A LOS CLIENTES Y RECIBA PAGOS EN LINEA</p>
        </div>
    </div>

    <div class="card">
        <div class="text-container">
            <h2>COMPRAS Y PEDIDOS</h2>
            <p>GESTIONA TUS COMPRAS Y PEDIDOS EN UN SOLO LUGAR.</p>
        </div>
    </div> -->
    

    <div class="slider">
        <div class="card   accounting">
            <div class="bg"></div>
                <div class="img-container"></div>
                <div class="text-container">
                    <h2>CONTABILIDAD</h2>
                    <p>  REALICE UN SEGUIMIENTO DE SUS INGRESOS Y TOME DECISIONES MAS INTELIGENTES.</p>
                </div>
        </div> 

        <div class="card sells">
            <div class="bg"></div>
                <div class="img-container  "></div>
                <div class="text-container">
                    <h2>VENTAS</h2>
                    <p>VENDA DE FORMA MAS INTELIGENTE Y RAPIDA.</p>
                </div>
        </div> 


        <div class="card billing">
            <div class="bg"></div>
                <div class="img-container"></div>
                <div class="text-container">
                    <h2>FACTURACION</h2>
                    <p>FACTURE A LOS CLIENTES Y RECIBA PAGOS EN LINEA</p>
                </div>
        </div> 


        <div class="card orders">
            <div class="bg"></div>
                <div class="img-container"></div>
                <div class="text-container">
                    <h2>COMPRAS <br>Y PEDIDOS</h2>
                    <p>GESTIONA TU COMPRAS Y PEDIDOS EN UN SOLO LUGAR.</p>
                </div>
         </div> 


         <div class="card support">
            <div class="bg"></div>
                <div class="img-container"></div>
                <div class="text-container">
                    <h2>SEVICIO <br>AL CLIENTE</h2>
                    <p>CALENDARIO, TAREAS, SMS, Y MUCHAS OTRAS HERRAMIENTAS.</p>
                </div>
         </div> 

         <div class="card tools">
            <div class="bg"></div>
                <div class="img-container"></div>
                <div class="text-container">
                    <h2>HERRAMIENTAS <br> DE PRODUCTIVIDAD</h2>
                    <p>CALENDARIO, TAREAS, SMS, Y MUCHAS OTRAS HERRAMIENTAS.</p>
                </div>
         </div> 

    </div>

</body>
</html>