html{
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: nexa-light;
    src: url("../fonts/Light/nexa-light.otf");
}


@font-face {
    font-family: nexa-bold;
    src: url("../fonts/Bold/nexa-bold.otf");
}

/*
==================================================
                      Header
==================================================
*/

.header-about {

    width: 100%;
    height: 290px;
    background-image: url(/static/assets/fondo-footer1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


.section-content {

    width: 80%;
    height: auto;
    margin: 0 auto;
    display: flex;
}

.section-content__text {

    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.section-content__text h1 {

    font-family: nexa-bold;
    font-weight: bold;
    color: #ffffff;
    font-size: 1.4rem;
    position: relative;
    z-index: 2;
}

.section-content__text h1 .element-header {

    width: 100px;
    height: 10px;
    top: 25px;
    left: calc(70% - 40px);
    background-color: #0f7b7b;
    border-radius: 50px;
    position: absolute;
    z-index: -1;
}

.section-content__text p {

    text-align: center;
    color: #ffffff;
    font-family: nexa-light;
    font-size: 1rem;
    margin-top: 10px;
}

.section-content .section-content__img {

    width: auto;
    height: auto;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

.section-content__img figure {

    width: 110px;
    height: 230px;
}

.section-content__img figure img {

    width: 100%;
    height: 100%;
}

.section-content__btn {

    width: 100px;
    height: 20px;
    margin: 10px;
    padding-bottom: 3px;
    font-family: nexa-light;
    background-color: #283890;
    background-image: linear-gradient(90deg, #283890 0%, #1eb0b6 53%, #283890 100%);
    color: #fff;
    border-radius: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: transform 0.9s;
}

.section-content__btn:hover {

    transform: scale(0.95);
}

.section-content__btn span {

    font-size: 0.8rem;
    letter-spacing: 1px;
}

.section-content__cloud {

    width: 100%;
    height: 80px;
    position: absolute;
    bottom: -2px;
    background-image: url(/static/assets/big-cloud.png);
    background-position: revert;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (min-width: 425px){

    .header-about {

        height: 300px;
    }

    .section-content__text h1 {

        font-size: 1.5rem;
    }

    .section-content__text p {

        font-size: 1.3rem;
    }

    .section-content__img figure {

        width: 120px;
        height: 240px;
        margin: 0 20px 0 60px;
    }

    .section-content__cloud {

        height: 100px;
    }
}

@media screen and (min-width: 530px) {
    
    .header-about {

        height: 370px;
    }

    nav {

        height: 80px;
    }

    .section-content__text h1 {

        font-size: 2rem;
    }

    .section-content__text h1 .element-header {

        top: 34px;
    }

    .section-content__img figure {

        width: 140px;
        height: 280px;
    }

    .section-content__cloud {

        height: 140px;
    }

    .section-content__btn {

        width: 125px;
        height: 25px;
        padding-bottom: 1px;
    }

    .section-content__btn span {

        font-size: 1rem;
    }

    
}

@media screen and (min-width: 630px) {

    .section-content {

        width: 70%;
    }

}

/*
==================================================
                      Header-end
==================================================
*/

/*
==================================================
                      Principal-Section
==================================================
*/

.main-about {

    width: 100%;
    height: 500px;
}

.section-info {

    width: 100%;
    height: 400px;
}

.section-info .section-info__info-container {

    width: 90%;
    height: auto;
    margin: 0 auto;
    gap: 10px;
    display: flex;
}

.section-info .section-info__info-container .text-container {

    width: 50%;
    height: auto;
}

.section-info .section-info__info-container .text-container h3 {

    font-size: 2rem;
    font-family: nexa-light;
    color: #091439;
}

.section-info .section-info__info-container .text-container h3 .bold {

    font-family: nexa-bold;
    font-weight: bold;
}

.section-info .section-info__info-container .text-container .p-1 {

    font-family: nexa-light;
    font-size: 0.8rem;
    color: #091439;
    margin-top: 10px;
}

.section-info .section-info__info-container .text-container .p-2 {

    font-family: nexa-bold;
    font-size: 0.7rem;
    color: #091439;
    margin-top: 10px;
    font-weight: bold;
} 

.section-info__info-container .img-container {

    width: 50%;
    height: auto;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.section-info__info-container .img-container figure {

    width: 120px;
    height: 110px;
}

.section-info__info-container .img-container figure img {

    width: 100%;
    height: 100%;
}

.section-info .section-info__icon-container {

    width: 70%;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-info .section-info__icon-container figure {

    width: 30px;
    height: 10px;
}

.section-info .section-info__icon-container figure img {

    width: 100%;
    height: 100%;
}

@media screen and (min-width: 530px) {

    .section-info .section-info__info-container {

        gap: 70px;
    }

    .section-info .section-info__info-container .text-container h3 {

        font-size: 2.5rem;
    }

    .section-info .section-info__info-container .text-container .p-2, .section-info .section-info__info-container .text-container .p-1  {

        font-size: 1rem;
    } 

    .section-info__info-container .img-container figure {

        width: 140px;
        height: 130px;
    }
}

@media screen and (min-width: 630px) {

    .section-info .section-info__info-container {

        gap: 100px;
    }

    .section-info .section-info__icon-container {

        margin-top: 30px;
    }

    .section-info .section-info__icon-container figure {

        width: 60px;
        height: 20px;
    }
}


/*
==================================================
                      Principal-Section__end
==================================================
*/

/*
==================================================
                      Media Query 880px +
==================================================
*/
@media screen and (min-width: 880px) {

    .header-about {
        height: 430px;
    }

    .section-content__text h1 {
        font-size: 3rem;
    }

    .section-content__text h1 .element-header {

        width: 180px;
        height: 20px;
        top: 50px;
        left: calc(70% - 70px);
    }

    .section-content__text p {

        font-size: 1.8rem;
    }

    .section-content__btn {

        width: 150px;
        height: 30px;
        margin: 20px;
    }

    .section-content__btn span {

        font-size: 1.2rem;
    }

    .section-content__img figure {

        width: 160px;
        height: 350px;
    }

    .section-info .section-info__info-container {

        gap: 200px;
    }

    .section-info .section-info__info-container .text-container h3 {

        font-size: 3rem;
    }

    .section-info .section-info__info-container .text-container .p-2, .section-info .section-info__info-container .text-container .p-1 {

        font-size: 1.5rem;
        margin: 20px 0;
    }
    
    .section-info__info-container .img-container figure {

        width: 190px;
        height: 180px;
    }

}

/*
==================================================
                      Media Query 880px + END
==================================================
*/


/*
==================================================
                      Media Query 1024px +
==================================================
*/

@media screen and (min-width: 1024px) {

    .header-about {

        height: 500px;
    }

    .section-content__text h1 {

        font-size: 3.5rem
    }

    .section-content__img figure {

        width: 190px;
        height: 420px;
    }

    .section-content__text h1 .element-header {

        width: 190px;
        top: 60px;
        left: calc(70% - 75px);
    }

    .section-content__text p {

        font-size: 2rem;
    }

    .section-info .section-info__info-container .text-container h3 {

        font-size: 3.8rem;
    }

    .section-info .section-info__info-container .text-container .p-2, .section-info .section-info__info-container .text-container .p-1 {

        font-size: 1.8rem;
    }

    .section-info__info-container .img-container figure {

        width: 260px;
        height: 240px;
    }

}

/*
==================================================
                      Media Query 1024px + END
==================================================
*/

/*
==================================================
                      Media Query 1440px +
==================================================
*/

@media screen and (min-width: 1440px) {

    .header-about {

        height: 650px;
    }

  

    .section-content__text h1 {

        font-size: 5rem;
    }

    .section-content__text h1 .element-header {

        
    height: 30px;
    width: 320px;
    top: 90px;
    left: calc(70% - 100px);
    }

    .section-content__text p {

        font-size: 3rem;
    } 

    .section-content__btn {

        width: 250px;
        height: 40px;
        margin: 30px;
    }

    .section-content__btn span {

        font-size: 1.6rem;
    }

    .section-content__img figure {

        width: 260px;
        height: 550px;
    }

    .section-content__cloud {

        height: 200px;
    }

    .section-info .section-info__info-container {

        gap: 330px;
    }

    .section-info .section-info__info-container .text-container h3 {

        font-size: 4.5rem;
    }

    .section-info .section-info__info-container .text-container .p-2, .section-info .section-info__info-container .text-container .p-1 {

        font-size: 2.2rem;
    }

    .section-info__info-container .img-container figure {

        width: 360px;
        height: 340px;
    }

    .section-info .section-info__icon-container figure {

        width: 80px;
        height: 25px;
    }


} 



/*
==================================================
                      Media Query 1440px + END
==================================================
*/